* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    width: 100vw;
    background: url('imagens/Fundo-hero\ 02.png') no-repeat;
    image-rendering: auto;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

nav {
    background: #00000054;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav img {
    width: 50px;
    height: 50px;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

nav ul li:hover {
    
    border-bottom: solid 1px tomato;
    transform: scale(1.2) translate(1.2px, 1.2px);
    transition: all 0.5s ease-in-out;
    padding: 1px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav button {
    background: none;
    color: white;
    padding: 8px 20px;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

nav button:hover {
    background-color: white;
    color: black;
    transition: all 0.5s ease-in-out;
    color: blue;
}

/* hero */
.hero {
    width: 100%;
    height: 100%;
    padding: 180px 300px;
}

h1 {

    width: 1000px;
    margin-top: 60px;
    font-size: 60px;
    color: aliceblue;
}

.hero p {

    width: 900px;
    margin-top: 10px;
    color: aliceblue;
    padding: 20px 0;
}

.hero button {
    margin-top: 10px;
    background: rgba(14, 14, 195, 0.651);
    width: 150px;
    height: 40px;
    color:white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border: solid 1px white;
}

.hero button:hover{
    background-color: white;
    color: black;
    transition: all 0.5s ease-in-out;
}

/* main */
main {
    width: 100% ;
}

#sessaoCards {
    height: 1200px;
}

/* txtTituloCards */
.txtTituloCards{
    text-align: center;
}

.txtTituloCards h3 {
    font-size: 25px;
    font-weight: 100;
    padding: 14px 0;
}

.txtTituloCards h2 {
    font-size: 40px;
}

/* conteinerCards */
.conteinerCards {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    gap: 30px;
}

.card {
    border-radius: 12px;
    overflow: hidden;
    width: 300px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card:hover{
    transform: scale(1.09);
    transition: all 0.5s ease-in-out;
}

.card img {
    width: 300px;
    height: 300px;
}

.card h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding: 10px 0;
}

.card button {
    width: 100px;
    background: rgba(0, 72, 255, 0.671);
    border-radius: 16px;
    border: none;
    padding: 8px 32px;
    color: white;
    cursor: pointer;
}

.card button:hover{
    background: rgba(0, 72, 255, 0.9);
    transition: all 0.5s ease-in-out;
    
}
/* sessaoVideo */

#sessaoVideo {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

#sessaoVideo video {
    position: absolute;
    width:100%;
    height: 1000px;
    z-index: -1;
    opacity: 0.8;
}

#sessaoVideo .caixa {
    width: 70%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 120px;
}

#sessaoVideo .caixa h2 {
    font-size: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#sessaoVideo .caixa p {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


#sessaoVideo .caixa button {
    background: rgba(0, 72, 255, 0.671);
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    width: 150px;
    padding: 10px;
    font-size: 20px;
}

#sessaoVideo .caixa button:hover {
    background: rgba(0, 0, 255, 0.8);
    transition: all 0.5s ease-in-out;
}

/* sessaoPlane */
#sessaoPlane {
    width: 100%;
    height: 800px;
    margin-top: 50px;
    position: relative;

}

#fundoPlane {
    width: 100%;
    height: 100%;
    padding: 50px;
    overflow: hidden;

}

#plane {
    position: absolute;
    left: 30px;
    top: 350px;
    z-index: 2;
    width: 800px;
    transition: all 2s ease-in-out;
}

#sessaoPlane:hover {
    overflow: hidden;

    #plane {
        transform: translate(2000px, -800px) scale(1.5);     
    }

}